.country-card{
transition: all 0.2s ease;
border:2px solid #76797c;
cursor:pointer;
}

.country-card:hover{
transform: translateY(-10px);
border-image: var(--gradient) 1;
}

.card-teste{
    border:2px solid transparent;
    border-image: var(--country-gradient);
    border-image-slice: 1;
}