.country-card{
transition: all 0.2s ease;
border:2px solid #76797c;
cursor:pointer;
}

.country-card:hover{
transform: translateY(-10px);
border-image: var(--gradient) 1;
}

.teste-card{
    border:3px solid transparent;
    border-image: var(--gradient) 1;
}